<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>轨迹回放</title>
  <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
  <style>
    html, body, #container {
      height: 100%;
      width: 100%;
    }

    .input-card .btn{
      margin-right: 1.2rem;
      width: 9rem;
    }

    .input-card .btn:last-child{
      margin-right: 0;
    }
  </style>
</head>
<body>
<div id="container"></div>
<div class="input-card">
  <h4>轨迹回放控制</h4>
  <div class="input-item">
    <input type="button" class="btn" value="开始动画" id="start" onclick="startAnimation()"/>
    <input type="button" class="btn" value="暂停动画" id="pause" onclick="pauseAnimation()"/>
  </div>
  <div class="input-item">
    <input type="button" class="btn" value="继续动画" id="resume" onclick="resumeAnimation()"/>
    <input type="button" class="btn" value="停止动画" id="stop" onclick="stopAnimation()"/>
  </div>
</div>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=fabdd869c162680b834f029309a637ce"></script>
<script>
  var marker, lineArr = [[117.1394437555,36.6675497433],[117.1369439367,36.6669387327],[117.1361929181,36.6683931021],[117.1354150775,36.6692837823],[117.1345138552,36.6697226644],[117.1337521079,36.669640912],[117.1325021985,36.670062581],[117.1315634254,36.6706047236],[117.1312040094,36.6708069504],[117.1307909492,36.6713275745],[117.1304476264,36.6722096153]];

  var map = new AMap.Map("container", {
    resizeEnable: true,
    center: [116.397428, 39.90923],
    zoom: 17
  })

marker = new AMap.Marker({
    map: map,
    position: [117.1394437555,36.6675497433],
    icon: "https://webapi.amap.com/images/car.png",
    offset: new AMap.Pixel(-26, -13),
    autoRotation: true,
    angle:-90,
  });

  // 绘制轨迹
  var polyline = new AMap.Polyline({
    map: map,
    path: lineArr,
    showDir:true,
    strokeColor: "#28F",  //线颜色
    // strokeOpacity: 1,     //线透明度
    strokeWeight: 6,      //线宽
    // strokeStyle: "solid"  //线样式
  });

  var passedPolyline = new AMap.Polyline({
    map: map,
    // path: lineArr,
    strokeColor: "#AF5",  //线颜色
    // strokeOpacity: 1,     //线透明度
    strokeWeight: 6,      //线宽
    // strokeStyle: "solid"  //线样式
  });


  marker.on('moving', function (e) {
    passedPolyline.setPath(e.passedPath);
  });

  map.setFitView();

  function startAnimation () {
    marker.moveAlong(lineArr, 200);
  }

  function pauseAnimation () {
    marker.pauseMove();
  }

  function resumeAnimation () {
    marker.resumeMove();
  }

  function stopAnimation () {
    marker.stopMove();
  }
</script>
</body>
</html>
